<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sport Store</title>
    <style>
        body {
            color: #000033
            background-color: #ddddff;
            font-family: sans-serif;
            border: 3px #000033 solid;
            padding: 18px;
            margin: 24px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
